{{!-- Comments --}}
{{^has tag="#nocomment"}} {{!-- don't render comments if post has #nocomment tag --}}
  <div class="bg-acc-1">
    <div class="content-wrap">
      <div class="comments flex flex-col flex-cc p-lg" id="comments">
        {{!-- Comment/Uncomment below line to activate or deactivate cove comments --}}

        <a href="https://github.com/bigmachine-io/site/discussions/" target="_blank" class="btn btn--gradient btn--xl">Discuss On GitHub</a>
      </div>
    </div>
  </div>
{{/has}}