{{!-- Social Media Links --}}
<div class="social flex">
  {{!-- Facebook --}}
  <a class="social__item facebook"
    href="{{facebook_url}}" target="_blank" title="Facebook"
    aria-label="Facebook" rel="noreferrer">
    {{> icon name="facebook" size="sm"}}
  </a>

  {{!-- Twitter --}}
  <a class="social__item twitter"
    href="{{twitter_url}}" target="_blank" title="Twitter"
    aria-label="Twitter" rel="noreferrer">
    {{> icon name="twitter" size="sm"}}
  </a>

  {{!-- Instagram --}}
  <a class="social__item instagram"
     href="https://instagram.com" target="_blank" title="Instagram"
     aria-label="Instagram" rel="noreferrer">
    {{> icon name="instagram" size="sm"}}
  </a>

  {{!-- Linkedin --}}
  <a class="social__item linkedin"
     href="https://linkedin.com" target="_blank" title="Linkedin"
     aria-label="Linkedin" rel="noreferrer">
    {{> icon name="linkedin" size="sm"}}
  </a>

  {{!-- Github --}}
  <a class="social__item github"
     href="https://github.com" target="_blank" title="Github"
     aria-label="Github" rel="noreferrer">
    {{> icon name="github" size="sm"}}
  </a>
  
  {{!-- RSS --}}
  <a class="social__item rss"
     href="/rss" target="_blank" title="RSS"
     aria-label="RSS" rel="noreferrer">
    {{> icon name="rss" size="sm"}}
  </a>
</div>
