.alert {
  position: relative;
  width: 100%;
  color: var(--color-text-acc-1);
  padding: var(--gap);
  border: 1px solid var(--color-text-acc-3);
  margin-top: var(--gap);
  margin-bottom: var(--gap-lg);
  border-radius: var(--global-radius);

  @media (--mq-md) {
    padding: 1.5em;
  }

  &:before {
    content: "i";
    background-color: var(--color-text-acc-3);
    font-family: var(--font-mono);
    position: absolute;
    line-height: 1;
    width: 24px;
    height: 24px;
    left: -12px;
    top: -12px;
    font-size: 0.9rem;
    font-weight: var(--font-weight-bold);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    border-radius: 50%;
  }

  &:after {
    content: "";
    background-color: var(--color-bg);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.05;
  }

  &.info {
    border-color: var(--color-info);

    &:before {
      content: "i";
      background-color: var(--color-info);
    }

    &:after {
      background-color: var(--color-info);
    }
  }

  &.warning {
    border-color: var(--color-warning);

    &:before {
      content: "!";
      background-color: var(--color-warning);
    }

    &:after {
      background-color: var(--color-warning);
    }
  }

  &.error {
    border-color: var(--color-error);

    &:before {
      content: "!";
      background-color: var(--color-error);
    }

    &:after {
      background-color: var(--color-error);
    }
  }

  &.success {
    border-color: var(--color-success);

    &:before {
      content: "✓";
      font-family: var(--font-sans);
      background-color: var(--color-success);
    }

    &:after {
      background-color: var(--color-success);
    }
  }
}