.btn {
  color: inherit;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-sans);
  font-size: 0.9rem;
  letter-spacing: calc(0.025 * var(--font-size-base));
  line-height: 1;
  background-color: var(--color-bg-reverse);
  color: var(--color-text-reverse);
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: var(--global-radius);
  padding: 0.75rem 1.5rem;

  @mixin attention {
    filter: brightness(1.2);
  }

  &--xs {
    font-size: 0.8rem;
  }

  &--sm {
    font-size: 0.9rem;
  }

  &--lg {
    font-size: 1.2rem;
  }

  &--xl {
    font-size: 1.4rem;
  }

  &--rounded {
    border-radius: 3rem;
  }

  &--wide {
    padding: var(--gap) var(--gap-xl);
  }

  &--full {
    width: 100%;
  }

  &--opac {
    background: transparent;
  }

  &--dark {
    background-color: var(--color-dark-acc);
    border-color: var(--color-dark-acc);
    color: var(--color-light);
  }

  &--light {
    background-color: var(--color-light);
    border-color: var(--color-light);
    color: var(--color-dark);
  }
  
  &--primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
  }

  &--secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: var(--color-white);
  }

  &--success {
    background-color: var(--color-success);
    border-color: var(--color-success);
    color: var(--color-white);
  }

  &--error {
    background-color: var(--color-error);
    border-color: var(--color-error);
    color: var(--color-white);
  }

  &--warning {
    background-color: var(--color-warning);
    border-color: var(--color-warning);
    color: var(--color-black);
  }

  &--gradient {
    background: linear-gradient(
      135deg, 
      var(--color-primary), 
      var(--color-secondary),
      var(--color-primary)
    ) 0 / 200%;
    border: none;
    color: var(--color-white);
    transition: background var(--trans-default);

    @mixin attention {
      background: linear-gradient(
        135deg, 
        var(--color-primary), 
        var(--color-secondary),
        var(--color-primary)
      ) 100% / 200%;
      filter: none;
    }
  }

  &--bordered {
    color: var(--color-text-acc-2);
    background-color: transparent;
    border: 1px solid var(--color-text-acc-2);

    @mixin attention {
      box-shadow: 0 0 0 1px;
    }

    &.btn--primary {
      color: var(--color-primary);
      border-color: var(--color-primary);
    }

    &.btn--secondary {
      color: var(--color-secondary);
      border-color: var(--color-secondary);
    }

    &.btn--success {
      color: var(--color-success);
      border-color: var(--color-success);
    }

    &.btn--error {
      color: var(--color-error);
      border-color: var(--color-error);
    }

    &.btn--warning {
      color: var(--color-warning);
      border-color: var(--color-warning);
    }
  }

  &--view {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-acc-2);
    line-height: 1;
    font-size: 0.85rem;
    font-weight: var(--font-weight-semi-bold);
    text-transform: capitalize;
    padding: 0.75em 1em;
    border: 1px solid var(--color-border);
    border-radius: var(--global-radius);

    @mixin attention {
      color: var(--color-text-acc-1);
      background-color: var(--color-bg-acc-2);
    }
  }

  &--disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.is-loading,
  &.loading {
    position: relative;
    color: transparent!important;
    pointer-events: none;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 22px;
      height: 22px;
      margin-left: -11px;
      margin-top: -11px;
      top: 50%;
      left: 50%;
      border: 2px solid var(--color-white);
      border-radius: 50%;
      border-right-color: transparent!important;
      border-top-color: transparent!important;
      z-index: 1;
      animation: spin var(--trans-duration) infinite linear;
    }

    &.btn--bordered {
      &:after {
        border-color: inherit;
      }
    }
  }
}

.js-load-more[disabled] {
  display: none;
}
