.post-card {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: var(--color-bg);
  border-radius: var(--global-radius);

  border-bottom: 1px solid var(--color-border);
  padding-bottom: 1.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @media (--mq-md) {
    border-bottom: none;
    padding-bottom: 0;
    border-bottom-left-radius: var(--global-radius);
    border-bottom-right-radius: var(--global-radius);
  }

  &.is-reversed {
    flex-direction: row-reverse;

    .post-card__media {
      margin-left: var(--gap);
      margin-right: 0;

      @media (--mq-md) {
        margin-left: 1.5em;
      }
    }
  }

  &.col {
    flex-direction: column;

    .post-card__media {
      margin-bottom: var(--gap);
      margin-right: 0;
      padding-top: 56.25%;
    }

    .post-card__content {
      justify-content: start;
    }
  }

  &__header {
    margin-bottom: 0.5em;
    font-size: 0.8rem;
    color: var(--color-text-acc-3);

    @media (--mq-md) {
      margin-bottom: 0.75em;
      font-size: 0.9rem;
    }
  }

  .visibility {  
    position: absolute;
    margin: var(--gap);  
    text-transform: capitalize;
    padding: 0.3em 0.6em;
    font-size: 0.8rem;
    line-height: 1;
    font-weight: var(--font-weight-semi-bold);
    background-color: var(--color-bg-acc-1);
    border-radius: var(--global-radius);
    color: var(--color-text-acc-2);

    @media (--mq-md) {
      padding: 0.4em 0.8em;
      font-size: 0.85rem;
    }
  }

  &__tag {
    font-weight: var(--font-weight-semi-bold);
  }

  &__media {
    position: relative;
    padding-right: 34%;
    margin-bottom: 0;
    margin-right: var(--gap);
    max-height: 8rem;
    overflow: hidden;
    background-color: var(--color-bg-acc-1);
    border-radius: var(--global-radius);

    @media (--mq-sm) {
      max-height: 12rem;
    }

    @media (--mq-md) {
      max-height: 14rem;
      margin-right: 1.5em;
    }

    @media (--mq-lg) {
      min-height: 14rem;
      padding-right: 38%;
      max-height: 18rem;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
      object-position: center center;
      border-radius: var(--global-radius);
    }
  }

  &__details {
    color: var(--color-text-acc-3);
    font-size: 0.9rem;
  }

  &__author {
    display: inline-flex;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      overflow: hidden;
      margin-right: var(--gap-sm);

      @media (--mq-md) {
        width: 36px;
        height: 36px;
      }
    }

    @mixin attention {
      color: var(--color-primary);
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    color: var(--color-text-acc-2);  
    font-size: 0.8rem;

    @media (--mq-sm) {
      font-size: 0.9rem;
    } 

    a {
      font-weight: var(--font-weight-semi-bold);  
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
    color: var(--color-text-acc-3);

    @media (--mq-sm) {
      flex-direction: row;
      align-items: center;
      font-size: 0.9rem;
    } 

    .separator-dot {
      display: none;

      @media (--mq-sm) {
        display: initial;
      } 
    }

    &.multi {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      .separator-dot { display: initial; }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: var(--global-content-width);

    @media (--mq-md) {
      justify-content: center;
    }
  }

  .tag-list {
    margin-bottom: 0.75em;
    font-weight: var(--font-weight-semi-bold);
  }

  &__title {
    font-size: 1.1rem;
    margin-bottom: var(--gap-sm);

    @media (--mq-sm) {
      font-size: 1.2rem;
    }

    @media (--mq-md) {
      font-size: 1.4rem;
    }

    @media (--mq-lg) {
      font-size: 1.6rem;
    }

    @mixin attention {
      color: var(--color-primary)
    }
  }

  &__exc {
    color: var(--color-text-acc-3);
    display: none;

    @media (--mq-sm) {
      display: block;
    }
  }

  &.no-image {
    padding: var(--gap);
    border: 1px solid var(--color-border);
    border-bottom-left-radius: var(--global-radius);
    border-bottom-right-radius: var(--global-radius);

    @media (--mq-md) {
      padding: var(--gap-lg);
    }

    .post-card__content {
      justify-content: flex-start;
    }
  }  

  a {
    @mixin attention {
      color: var(--color-primary)
    }
  }
}

.grid.post-feed {
  grid-gap: 1.5em;

  @media (--mq-sm) {
    grid-gap: 2em;
  }

  @media (--mq-lg) {
    grid-gap: 3em;
  }
}

.post-feed[data-post-feed="grid"] {
  grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));

  @media (--mq-md) {
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
  }
  
  .post-card {
    flex-direction: column;

    .post-card__media {
      margin-bottom: var(--gap);
      margin-right: 0;
      padding-top: 56.25%;
    }

    .post-card__content {
      justify-content: start;
    }
  }
}