/* Toc */
.post-toc {
  position: fixed;
  max-width: 20rem;
  top: calc(var(--global-header-height) + 1em + var(--global-announcement-height));
  right: var(--gap);
  background-color: var(--color-bg);
  border-radius: var(--global-radius);
  transition: all var(--trans-default);

  &.is-aside {
    position: sticky;
    top: var(--gap-lg);
    margin-bottom: var(--gap-lg);
    margin-top: var(--gap);
    max-width: none;

    @media (--mq-lg) {
      margin-top: 0;
    }

    .post-toc__header span {
      display: block;
    }
  }

  &__wrapper {
    position: absolute;
  }

  &.is-active {
    .post-toc__header span,
    .post-toc__content {
      display: block;
    }

    .post-toc__header {
      border-bottom: 1px solid var(--color-border);
    }
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  @media (--mq-md) {
    top: calc(var(--global-header-height) + 2em + var(--global-announcement-height));
    right: var(--gap-lg);
  }

  &__header {
    font-weight: var(--font-weight-extra-bold);
    border-color: var(--color-border);
    color: var(--color-text-acc-2);
    transition: border var(--trans-default);

    span {
      padding-left: var(--gap);
      display: none;
    }
  }

  &__toggle {
    padding: 12px;

    @mixin attention {
      outline: none;
      color: var(--color-primary);
    }
  }

  &__content { 
    padding: var(--gap-sm) var(--gap) var(--gap-sm) 0;
    max-height: 65vh;
    overflow-y: scroll;
    font-size: 0.9rem;
    font-weight: var(--font-weight-medium);
    color: var(--color-text-acc-3);
    display: none;

    @mixin hide-scrollbar
  }

  .toc-list { padding: 0; }

  .toc-list-item {
    padding-left: var(--gap);
    display: block;

    .is-active-link {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: calc(-1 * var(--gap));
        top: 0;
        width: 3px;
        height: calc(100% - var(--gap-xs));
        background-color: var(--color-primary);
      }

      & > a {
        color: var(--color-primary);
      }
    }
    
    &::marker {
      color: transparent;
    }
  }

  .toc-link {
    display: block;
    line-height: 1.2;
    padding-bottom: var(--gap-xs);
    margin-bottom: var(--gap-sm);

    @mixin attention {
      color: var(--color-primary)
    }
  }

  .js-toc > .toc-list {
    padding-left: 0;
    margin-bottom: 0;
  }
}

.header.is-pinned ~ .post-toc__wrapper .post-toc {
  top: calc(var(--global-header-height) + 1em);

  @media (--mq-md) {
    top: calc(var(--global-header-height) + 2em);
  }
}

.header.is-unpinned ~ .post-toc__wrapper .post-toc {
  top: 2em;
}